In [121]:
import pandas as pd

In [122]:
import matplotlib.pyplot as plt

In [123]:
import numpy as np
import string
import re

In [124]:
train_data = pd.read_csv("train_data.csv",names=["sentiments", "reviews"])

In [125]:
def basic_cleaning(data_frame):
    data_frame['reviews'] = data_frame.reviews.apply(lambda review: review.lower())
    data_frame['reviews'] = data_frame.reviews.apply(lambda review: review.translate(str.maketrans('', '', string.punctuation)))
    data_frame['reviews'] = data_frame.reviews.apply(lambda review: review.translate(str.maketrans('', '', string.digits)))
    data_frame['reviews'] = data_frame.reviews.apply(lambda review: re.sub("r[^a-z]",'',review))

In [126]:
basic_cleaning(train_data)

In [127]:
import nltk
from nltk.tokenize import word_tokenize, sent_tokenize

def tokenize_data(data_frame):
    data_frame['words'] = data_frame.reviews.apply(lambda review: nltk.word_tokenize(review))

In [128]:
tokenize_data(train_data)

In [129]:
from nltk.corpus import stopwords
stopwords = set(stopwords.words('english'))

def remove_stopwords(list):
    stop_words_removed = []
    for i in list:
        if i not in stopwords:
            stop_words_removed.append(i)
    return stop_words_removed

In [130]:
train_data['stop_words_cleaned'] = train_data.words.apply(lambda word_list: remove_stopwords(word_list))

In [131]:
# nltk.download('all')
def tag_pos(list_of_words):
    return nltk.pos_tag(list_of_words)

In [132]:
#extraction of lemma words after taggin with pos
from nltk.stem import WordNetLemmatizer
lemmatizer= WordNetLemmatizer()
def find_lemma_word(word):
    lemma_words=[]
    words_with_pos = tag_pos(word)
    for word in words_with_pos:
        if word[1].startswith('NN'):
            lemma_words.append(lemmatizer.lemmatize(word[0],pos='n'))
        elif word[1].startswith('VB'):
            lemma_words.append(lemmatizer.lemmatize(word[0],pos='v'))
        elif word[1].startswith('JJ'):
            lemma_words.append(lemmatizer.lemmatize(word[0],pos='a'))
        elif word[1].startswith('RB'):
            lemma_words.append(lemmatizer.lemmatize(word[0],pos='r'))
        else:
            lemma_words.append(word[0])
            
    return lemma_words

In [133]:
train_data['lemma_word'] = train_data.stop_words_cleaned.apply(lambda word_list: find_lemma_word(word_list))

In [134]:
train_data['cleaned_review'] = train_data.lemma_word.apply(lambda review_list: " ".join(review_list))

In [178]:
from sklearn.model_selection import train_test_split
train_review, test_review, train_sentiment, test_sentiment =train_test_split(train_data.cleaned_review,train_data.sentiments,shuffle=True,random_state=0,stratify=train_data.sentiments,train_size=.90)

In [179]:
from sklearn.feature_extraction.text import CountVectorizer
count_vectorizer = CountVectorizer()

In [180]:
initial_features = count_vectorizer.fit_transform(train_review)

In [181]:
inital_feat_array = initial_features.toarray()

In [138]:
count_vectorizer_top_features = CountVectorizer(max_features=int(len(count_vectorizer.vocabulary_)*.25))

In [182]:
selected_feature_matrix = count_vectorizer_top_features.fit_transform(train_review)

In [183]:
selected_feature_array = selected_feature_matrix.toarray()

In [184]:
df = pd.DataFrame(selected_feature_array,columns=count_vectorizer_top_features.get_feature_names_out())

In [185]:
df['sentiments'] = np.array(train_sentiment)

In [190]:
arr = []
for i in df.columns.values:
    arr.append(i)
arr[13810]

'sentiments'

In [191]:
print(len(arr))
arr.remove('sentiments')
len(arr)

13811

13810

In [193]:
df_prep_chi_table = pd.DataFrame(arr, columns=['feature_variable'])
df_prep_chi_table

      feature_variable
0                   aa
1                  aaa
2                aaron
3                   ab
4                aback
...                ...
13805           zombie
13806             zone
13807              zoo
13808         zucchini
13809            zumba

[13810 rows x 1 columns]

In [194]:
df_prep_chi_table['-1'] = df_prep_chi_table.feature_variable.apply(lambda feat: df.loc[df['sentiments']== -1, feat].sum())

In [195]:
df_prep_chi_table['+1'] = df_prep_chi_table.feature_variable.apply(lambda feat: df.loc[df['sentiments']== 1, feat].sum())

In [196]:
total_sum = df_prep_chi_table['+1'].sum()+df_prep_chi_table['-1'].sum()

In [197]:
df_prep_chi_table['sum_total'] = df_prep_chi_table['+1']+df_prep_chi_table['-1']

In [198]:
df_prep_chi_table

      feature_variable  -1   +1  sum_total
0                   aa   2    2          4
1                  aaa   7   12         19
2                aaron   3    5          8
3                   ab   3    2          5
4                aback   8    3         11
...                ...  ..  ...        ...
13805           zombie   9    8         17
13806             zone  13   11         24
13807              zoo  70  150        220
13808         zucchini  27   17         44
13809            zumba   2    3          5

[13810 rows x 4 columns]

In [199]:
array_neg_sentiment = np.array(df_prep_chi_table['-1'])

In [200]:
array_pos_sentiment = np.array(df_prep_chi_table['+1'])

In [201]:
array_row_sum = np.array(df_prep_chi_table['sum_total'])

In [202]:
def calculate_expected_val(x ,y ,row_total, x_total, y_total, sum_total):
    exp_x=[]
    exp_y=[]
    for i in range(0,len(x)):
        exp_x.append(row_total[i]*x_total/sum_total)
        exp_y.append(row_total[i]*y_total/sum_total)
    return exp_x,exp_y

In [203]:
neg_col_sum = df_prep_chi_table['-1'].sum()
pos_col_sum = df_prep_chi_table['+1'].sum()
e_neg,e_pos = calculate_expected_val(array_neg_sentiment, array_pos_sentiment, array_row_sum,neg_col_sum ,pos_col_sum, total_sum)

In [204]:
df_exp = pd.DataFrame()

In [205]:
df_exp['+1'] = e_pos
df_exp['-1'] = e_neg
df_chi_value = pd.DataFrame()

In [206]:
df_chi_value['-1'] = ((df_prep_chi_table['-1']- df_exp['-1'])**2)/total_sum

In [207]:
df_chi_value['+1'] = ((df_prep_chi_table['+1']- df_exp['+1'])**2)/total_sum

In [208]:
df_chi_value

                 -1            +1
0      8.735133e-08  8.735133e-08
1      1.591158e-05  1.591158e-05
2      2.641041e-06  2.641041e-06
3      2.177710e-08  2.177710e-08
4      3.141002e-06  3.141002e-06
...             ...           ...
13805  5.462497e-07  5.462497e-07
13806  5.465538e-07  5.465538e-07
13807  3.319638e-03  3.319638e-03
13808  3.682697e-06  3.682697e-06
13809  7.857974e-07  7.857974e-07

[13810 rows x 2 columns]

In [220]:
max_chi_val = []
for row in df_chi_value.itertuples():
    max_chi_val.append(max(row[1],row[2]))

In [221]:
df_chi_value['max_chi'] = max_chi_val

In [225]:
selected_feature_array.shape

(16200, 13810)

In [234]:
ts = np.array(train_sentiment)
ts

array([ 1,  1, -1, ..., -1, -1, -1])

In [235]:
pos_weight = np.array(df_chi_value['+1'])
neg_weight = np.array(df_chi_value['-1'])
mx_weight = np.array(df_chi_value['max_chi'])
weighted_feat_array = []
for i in range(0, len(train_sentiment)):
    if ts[i] == 1:
        weighted_feat_array.append(np.multiply(selected_feature_array[i],pos_weight))
    else:
        weighted_feat_array.append(np.multiply(selected_feature_array[i],neg_weight))