In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import string
import re

In [2]:
train_data = pd.read_csv("train_data.csv",names=["sentiments", "reviews"])

In [3]:
def basic_cleaning(data_frame):
    data_frame['reviews'] = data_frame.reviews.apply(lambda review: review.lower())
    data_frame['reviews'] = data_frame.reviews.apply(lambda review: review.translate(str.maketrans('', '', string.punctuation)))
    data_frame['reviews'] = data_frame.reviews.apply(lambda review: review.translate(str.maketrans('', '', string.digits)))
    data_frame['reviews'] = data_frame.reviews.apply(lambda review: re.sub("r[^a-z]",'',review))

    
import nltk
from nltk.tokenize import word_tokenize, sent_tokenize

def tokenize_data(data_frame):
    data_frame['words'] = data_frame.reviews.apply(lambda review: nltk.word_tokenize(review))

from nltk.corpus import stopwords
stopwords = set(stopwords.words('english'))

def remove_stopwords(list):
    stop_words_removed = []
    for i in list:
        if i not in stopwords:
            stop_words_removed.append(i)
    return stop_words_removed

In [4]:
basic_cleaning(train_data)
tokenize_data(train_data)
train_data['stop_words_cleaned'] = train_data.words.apply(lambda word_list: remove_stopwords(word_list))

In [5]:
# nltk.download('all')
def tag_pos(list_of_words):
    return nltk.pos_tag(list_of_words)

#extraction of lemma words after taggin with pos
from nltk.stem import WordNetLemmatizer
lemmatizer= WordNetLemmatizer()
def find_lemma_word(word):
    lemma_words=[]
    words_with_pos = tag_pos(word)
    for word in words_with_pos:
        if word[1].startswith('NN'):
            lemma_words.append(lemmatizer.lemmatize(word[0],pos='n'))
        elif word[1].startswith('VB'):
            lemma_words.append(lemmatizer.lemmatize(word[0],pos='v'))
        elif word[1].startswith('JJ'):
            lemma_words.append(lemmatizer.lemmatize(word[0],pos='a'))
        elif word[1].startswith('RB'):
            lemma_words.append(lemmatizer.lemmatize(word[0],pos='r'))
        else:
            lemma_words.append(word[0])
            
    return lemma_words

In [6]:
train_data['lemma_word'] = train_data.stop_words_cleaned.apply(lambda word_list: find_lemma_word(word_list))
train_data['cleaned_review'] = train_data.lemma_word.apply(lambda review_list: " ".join(review_list))

In [7]:
train_data

,sentiments,reviews,words,stop_words_cleaned,lemma_word,cleaned_review
0,-1,eat at fioris they said youll like it they sa...,"[eat, at, fioris, they, said, youll, like, it,...","[eat, fioris, said, youll, like, saidnnis, con...","[eat, fioris, say, youll, like, saidnnis, conv...",eat fioris say youll like saidnnis convenientl...
1,-1,i just dont understand the appeal ive tried t...,"[i, just, dont, understand, the, appeal, ive, ...","[dont, understand, appeal, ive, tried, place, ...","[dont, understand, appeal, ive, tried, place, ...",dont understand appeal ive tried place twice t...
2,1,this is my go to place foa really good beef en...,"[this, is, my, go, to, place, foa, really, goo...","[go, place, foa, really, good, beef, enchilada...","[go, place, foa, really, good, beef, enchilada...",go place foa really good beef enchilada red sa...
3,-1,not impressed when i ordered the oyako bowl th...,"[not, impressed, when, i, ordered, the, oyako,...","[impressed, ordered, oyako, bowl, conversation...","[impressed, order, oyako, bowl, conversation, ...",impressed order oyako bowl conversation go som...
4,-1,this is the first time evei wrote a bad review...,"[this, is, the, first, time, evei, wrote, a, b...","[first, time, evei, wrote, bad, review, frustr...","[first, time, evei, write, bad, review, frustr...",first time evei write bad review frustrate her...
...,...,...,...,...,...,...
17995,-1,i was referred to go to this place by a buddy ...,"[i, was, referred, to, go, to, this, place, by...","[referred, go, place, buddy, aftea, conversati...","[refer, go, place, buddy, aftea, conversation,...",refer go place buddy aftea conversation get sh...
17996,1,the food here was really good we started off ...,"[the, food, here, was, really, good, we, start...","[food, really, good, started, garlic, bread, c...","[food, really, good, start, garlic, bread, cov...",food really good start garlic bread cover toma...
17997,1,i eat at this place maybe a week i am die har...,"[i, eat, at, this, place, maybe, a, week, i, a...","[eat, place, maybe, week, die, hard, wing, fan...","[eat, place, maybe, week, die, hard, wing, fan...",eat place maybe week die hard wing fan best ev...
17998,1,phoenix airport is getting betteday by day i ...,"[phoenix, airport, is, getting, betteday, by, ...","[phoenix, airport, getting, betteday, day, pri...","[phoenix, airport, get, betteday, day, primari...",phoenix airport get betteday day primarily use...
17999,-1,so when i was much youngei went to christos an...,"[so, when, i, was, much, youngei, went, to, ch...","[much, youngei, went, christos, first, place, ...","[much, youngei, go, christos, first, place, es...",much youngei go christos first place escargot ...

In [8]:
from sklearn.model_selection import train_test_split
train_review, test_review, train_sentiment, test_sentiment =train_test_split(train_data.cleaned_review,train_data.sentiments,shuffle=True,random_state=0,stratify=train_data.sentiments,train_size=.80)

In [115]:
from sklearn.feature_extraction.text import TfidfVectorizer
number_of_train_documents = len(train_review)
min_doc_percentage = 5/number_of_train_documents
tf_vectorizer = TfidfVectorizer(use_idf=False)
feature_matrix = tf_vectorizer.fit_transform(train_review)
feature_array = feature_matrix.toarray()

In [116]:
tf_vectorizer.vocabulary_['able']

55

### Select K-best features

In [117]:
from sklearn.feature_selection import SelectKBest, chi2

vocab_list = tf_vectorizer.get_feature_names_out()

select_k_best = SelectKBest(score_func=chi2, k= int(len(vocab_list)*.90))
train_sentiment_np_array = np.array(train_sentiment)
select_k_best.fit(feature_array, train_sentiment_np_array)
mask = select_k_best.get_support()
k_best_feature = vocab_list[mask]
k_best_feature

array(['aaa', 'aaaa', 'aaaaaahnnthey', ..., 'zuma', 'zumba', 'zz'],
      dtype=object)

In [120]:
k = len(tf_vectorizer.get_feature_names_out())
k

89546

### Supervised Chi-Square weight for k-best term by utilising target value

In [124]:
from sklearn.feature_extraction.text import CountVectorizer
selected_tf_vectorizer = CountVectorizer(max_features=int(len(tf_vectorizer.get_feature_names_out())*.20))
selected_feat_array = selected_tf_vectorizer.fit_transform(train_review).toarray()
selected_test_array = selected_tf_vectorizer.transform(test_review).toarray()
observed_value_table = pd.DataFrame(selected_tf_vectorizer.get_feature_names_out(), columns=['features'])

In [125]:
tf_data_frame = pd.DataFrame(selected_feat_array,columns = selected_tf_vectorizer.get_feature_names_out())
tf_data_frame['sentiments'] = np.array(train_sentiment)

In [126]:
observed_value_table['positive_sentiment'] = observed_value_table.features.apply(lambda feature: tf_data_frame.loc[tf_data_frame['sentiments']==1,feature].sum())

In [127]:
observed_value_table['negative_sentiment'] = observed_value_table.features.apply(lambda feature: tf_data_frame.loc[tf_data_frame['sentiments']==-1,feature].sum())

In [128]:
observed_value_table['total_row_count'] = observed_value_table['positive_sentiment'] + observed_value_table['negative_sentiment']

In [129]:
tf_data_frame

,aa,aaa,aabc,aaron,ab,aback,abandon,abc,abide,ability,...,ziti,zoes,zombie,zone,zoo,zoolights,zorbas,zucchini,zumba,sentiments
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17275,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
17276,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
17277,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
17278,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-1
17279,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [130]:
observed_value_table

        features  positive_sentiment  negative_sentiment  total_row_count
0             aa                   2                   2                4
1            aaa                  12                   8               20
2           aabc                   4                   0                4
3          aaron                   5                   3                8
4             ab                   2                   3                5
...          ...                 ...                 ...              ...
17904        zoo                 155                  75              230
17905  zoolights                   3                   1                4
17906     zorbas                   0                   6                6
17907   zucchini                  18                  31               49
17908      zumba                   3                   2                5

[17909 rows x 4 columns]

In [131]:
chi_sqare_expected = pd.DataFrame()

#### Calculating expected value table for chi-sqare function

In [132]:
def chi_sqare_value(row_totals, positive_column_total, negative_column_total, total_sum):
    positive_chi_value = []
    negative_chi_value = []
    for i in range(0, len(row_totals)):
        positive_chi_value.append((row_totals[i]*positive_column_total)/total_sum)
        negative_chi_value.append((row_totals[i]*negative_column_total)/total_sum)
    return positive_chi_value, negative_chi_value

In [133]:
row_totals = np.array(observed_value_table['total_row_count'])
positive_column_total = observed_value_table['positive_sentiment'].sum()
negative_column_total = observed_value_table['negative_sentiment'].sum()
total_sum = observed_value_table['total_row_count'].sum()
expected_positive, expected_negative = chi_sqare_value(row_totals, positive_column_total, negative_column_total, total_sum)

In [134]:
chi_sqare_expected['+1'] = np.array(expected_positive)
chi_sqare_expected['-1'] = np.array(expected_negative)

In [135]:
chi_sqare_expected

              +1          -1
0       1.708830    2.291170
1       8.544151   11.455849
2       1.708830    2.291170
3       3.417660    4.582340
4       2.136038    2.863962
...          ...         ...
17904  98.257734  131.742266
17905   1.708830    2.291170
17906   2.563245    3.436755
17907  20.933169   28.066831
17908   2.136038    2.863962

[17909 rows x 2 columns]

In [159]:
chi_sqare_table = pd.DataFrame()

In [160]:
chi_sqare_table['positiev_sentiments'] = ((observed_value_table['positive_sentiment'] - chi_sqare_expected['+1'])**2)/chi_sqare_expected['+1']
chi_sqare_table['negatiev_sentiments'] = ((observed_value_table['negative_sentiment'] - chi_sqare_expected['-1'])**2)/chi_sqare_expected['-1']
chi_sqare_table['sum'] = chi_sqare_table['positiev_sentiments'] + chi_sqare_table['negatiev_sentiments']

In [161]:
chi_sqare_table

       positiev_sentiments  negatiev_sentiments        sum
0                 0.049613             0.037003   0.086616
1                 1.397786             1.042515   2.440301
2                 3.071961             2.291170   5.363131
3                 0.732606             0.546402   1.279008
4                 0.008664             0.006462   0.015126
...                    ...                  ...        ...
17904            32.767748            24.439269  57.207018
17905             0.975591             0.727628   1.703219
17906             2.563245             1.911753   4.474998
17907             0.410998             0.306536   0.717533
17908             0.349446             0.260629   0.610075

[17909 rows x 3 columns]

### Create weighted features

In [154]:
def generate_chi_sqare_weighted_features(train_feat_array, train_sentiments, p_chi_weight, n_chi_weight):
    new_weighted_feature= []
    sentiments = np.array(train_sentiments)
    for i in range(0,len(sentiments)):                
            new_weighted_feature.append(np.multiply(train_feat_array[i],p_chi_weight))
    return new_weighted_feature

In [155]:
def weight_unlabled_data(features, max_chi_val):
    weighted_data = []
    for i in range(0,len(features)):
        weighted_data.append(np.multiply(features[i], max_chi_val))
    return np.array(weighted_data)

In [156]:
p_chi_weight = np.array(chi_sqare_table['positiev_sentiments'])
n_chi_weight = np.array (chi_sqare_table['negatiev_sentiments'])
weighted_selected_feat = np.array(generate_chi_sqare_weighted_features(selected_feat_array, train_sentiment,p_chi_weight,n_chi_weight))

In [157]:
test_sentiments_array = np.array(test_sentiment)
train_sentiments_array = np.array(train_sentiment)
chi_sqare_table['max_chi_value'] = find_max_chi_val(chi_sqare_table['positiev_sentiments'], chi_sqare_table['negatiev_sentiments'])
weighted_test_feat = weight_unlabled_data( selected_test_array, chi_sqare_table['max_chi_value'])

In [158]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
track_precision=[]
for i in range(3,21):
    print(i)
    classifer = KNeighborsClassifier(n_neighbors=i,n_jobs=3,weights='distance')
    classifer.fit(weighted_selected_feat, train_sentiments_array)
    sentiments_predict = classifer.predict(weighted_test_feat)
    score = metrics.accuracy_score(test_sentiments_array,sentiments_predict)
    print(score)
    track_precision.append(score)

3
0.7263888888888889
4
0.725
5
0.7305555555555555
6
0.7319444444444444
7
0.7430555555555556
8
0.7375
9
0.7527777777777778
10
0.7513888888888889
11
0.7555555555555555
12
0.7527777777777778
13
0.75
14
0.7513888888888889
15
0.7472222222222222
16
0.7486111111111111
17
0.7416666666666667
18
0.7430555555555556
19
0.7402777777777778
20
0.7416666666666667

In [103]:
result_test_df = pd.read_csv('1661892619_9579706_test_file.csv', names=['reviews'])
basic_cleaning(result_test_df)
tokenize_data(result_test_df)
result_test_df['stop_words_cleaned'] = result_test_df.words.apply(lambda word_list: remove_stopwords(word_list))
result_test_df['lemma_word'] = result_test_df.stop_words_cleaned.apply(lambda word_list: find_lemma_word(word_list))
result_test_df['cleaned_review'] = result_test_df.lemma_word.apply(lambda review_list: " ".join(review_list))
unlabeled_test_feat_matrix = selected_tf_vectorizer.transform(result_test_df['cleaned_review']).toarray()

In [104]:
unlabeled_test_feat_matrix.shape

(18000, 10635)

In [105]:
def find_max_chi_val(a,b):
    max_chi = []
    x = np.array(a)
    y = np.array(b)
    for i in range(0, len(x)):
        max_chi.append(max(x[i],y[i]))
    return np.array(max_chi)

In [106]:
chi_sqare_table['max_chi_value'] = find_max_chi_val(chi_sqare_table['positiev_sentiments'], chi_sqare_table['negatiev_sentiments'])
chi_sqare_table

       positiev_sentiments  negatiev_sentiments  max_chi_value
0                 1.416465             1.052326       1.416465
1                 0.608248             0.451882       0.608248
2                 0.015199             0.011292       0.015199
3                 6.950556             5.163736       6.950556
4                 0.324351             0.240968       0.324351
...                    ...                  ...            ...
10630             2.609107             1.938369       2.609107
10631             0.787090             0.584748       0.787090
10632             0.011086             0.008236       0.011086
10633            33.096245            24.588000      33.096245
10634             0.398868             0.296329       0.398868

[10635 rows x 3 columns]

In [107]:
def weight_unlabled_data(features, max_chi_val):
    weighted_data = []
    for i in range(0,len(features)):
        weighted_data.append(np.multiply(features[i], max_chi_val))
    return np.array(weighted_data)

In [108]:
unlabled_weighted_data = weight_unlabled_data(unlabeled_test_feat_matrix, chi_sqare_table['max_chi_value'])

In [110]:
unlabled_weighted_data.shape

(18000, 10635)

In [111]:
predicted_values = classifer.predict(unlabled_weighted_data)

In [113]:
import csv
outfile = open('results.csv','w')
out = csv.writer(outfile)
out.writerows(map(lambda x: [x], predicted_values))
outfile.close()