In [1]:
import pandas as pd

In [2]:
import matplotlib.pyplot as plt

In [3]:
import numpy as np
import string
import re

In [4]:
train_data = pd.read_csv("train_data.csv",names=["sentiments", "reviews"])

In [5]:
def basic_cleaning(data_frame):
    data_frame['reviews'] = data_frame.reviews.apply(lambda review: review.lower())
    data_frame['reviews'] = data_frame.reviews.apply(lambda review: review.translate(str.maketrans('', '', string.punctuation)))
    data_frame['reviews'] = data_frame.reviews.apply(lambda review: review.translate(str.maketrans('', '', string.digits)))
    data_frame['reviews'] = data_frame.reviews.apply(lambda review: re.sub("r[^a-z]",'',review))

In [6]:
basic_cleaning(train_data)

In [7]:
import nltk
from nltk.tokenize import word_tokenize, sent_tokenize

def tokenize_data(data_frame):
    data_frame['words'] = data_frame.reviews.apply(lambda review: nltk.word_tokenize(review))

In [8]:
tokenize_data(train_data)

In [9]:
from nltk.corpus import stopwords
stopwords = set(stopwords.words('english'))

def remove_stopwords(list):
    stop_words_removed = []
    for i in list:
        if i not in stopwords:
            stop_words_removed.append(i)
    return stop_words_removed

In [10]:
train_data['stop_words_cleaned'] = train_data.words.apply(lambda word_list: remove_stopwords(word_list))

In [11]:
# nltk.download('all')
def tag_pos(list_of_words):
    return nltk.pos_tag(list_of_words)

In [12]:
#extraction of lemma words after taggin with pos
from nltk.stem import WordNetLemmatizer
lemmatizer= WordNetLemmatizer()
def find_lemma_word(word):
    lemma_words=[]
    words_with_pos = tag_pos(word)
    for word in words_with_pos:
        if word[1].startswith('NN'):
            lemma_words.append(lemmatizer.lemmatize(word[0],pos='n'))
        elif word[1].startswith('VB'):
            lemma_words.append(lemmatizer.lemmatize(word[0],pos='v'))
        elif word[1].startswith('JJ'):
            lemma_words.append(lemmatizer.lemmatize(word[0],pos='a'))
        elif word[1].startswith('RB'):
            lemma_words.append(lemmatizer.lemmatize(word[0],pos='r'))
        else:
            lemma_words.append(word[0])
            
    return lemma_words

In [13]:
train_data['lemma_word'] = train_data.stop_words_cleaned.apply(lambda word_list: find_lemma_word(word_list))

In [14]:
train_data['cleaned_review'] = train_data.lemma_word.apply(lambda review_list: " ".join(review_list))

In [69]:
from sklearn.model_selection import train_test_split
train_review, test_review, train_sentiment, test_sentiment =train_test_split(train_data.cleaned_review,train_data.sentiments,shuffle=True,random_state=0,stratify=train_data.sentiments,train_size=.96)

In [ ]:
from sklearn.feature_selection.text

In [70]:
from sklearn.feature_extraction.text import TfidfVectorizer
count_vectorizer = TfidfVectorizer(use_idf=False,norm='l1')

In [71]:
initial_features = count_vectorizer.fit_transform(train_review)

In [72]:
inital_feat_array = initial_features.toarray()

In [73]:
count_vectorizer_top_features = TfidfVectorizer(max_features=int(len(count_vectorizer.vocabulary_)*.20))

In [74]:
selected_feature_matrix = count_vectorizer_top_features.fit_transform(train_review)

In [75]:
selected_feature_array = selected_feature_matrix.toarray()
selected_test = count_vectorizer_top_features.transform(test_review)
selected_test_features = selected_test.toarray()

In [76]:
df = pd.DataFrame(selected_feature_array,columns=count_vectorizer_top_features.get_feature_names_out())

In [77]:
df['sentiments'] = np.array(train_sentiment)

In [78]:
arr = []
for i in df.columns.values:
    arr.append(i)

In [79]:
print(len(arr))
arr.remove('sentiments')
len(arr)

17910

17909

In [80]:
df_prep_chi_table = pd.DataFrame(arr, columns=['feature_variable'])
df_prep_chi_table

      feature_variable
0                   aa
1                  aaa
2                 aabc
3                aaron
4                   ab
...                ...
17904              zoo
17905        zoolights
17906           zorbas
17907         zucchini
17908            zumba

[17909 rows x 1 columns]

In [81]:
df_prep_chi_table['-1'] = df_prep_chi_table.feature_variable.apply(lambda feat: df.loc[df['sentiments']== -1, feat].sum())

In [82]:
df_prep_chi_table['+1'] = df_prep_chi_table.feature_variable.apply(lambda feat: df.loc[df['sentiments']== 1, feat].sum())

In [83]:
total_sum = df_prep_chi_table['+1'].sum()+df_prep_chi_table['-1'].sum()

In [84]:
df_prep_chi_table['sum_total'] = df_prep_chi_table['+1']+df_prep_chi_table['-1']

In [85]:
df_prep_chi_table

      feature_variable        -1         +1  sum_total
0                   aa  0.250140   0.352377   0.602517
1                  aaa  1.251897   1.803329   3.055226
2                 aabc  0.000000   0.694114   0.694114
3                aaron  0.560806   0.794011   1.354816
4                   ab  0.459362   0.266657   0.726019
...                ...       ...        ...        ...
17904              zoo  8.432407  19.327627  27.760033
17905        zoolights  0.090006   1.033548   1.123554
17906           zorbas  1.474177   0.000000   1.474177
17907         zucchini  3.965220   2.905112   6.870332
17908            zumba  0.254515   0.745126   0.999641

[17909 rows x 4 columns]

In [86]:
array_neg_sentiment = np.array(df_prep_chi_table['-1'])

In [87]:
array_pos_sentiment = np.array(df_prep_chi_table['+1'])

In [88]:
array_row_sum = np.array(df_prep_chi_table['sum_total'])

In [89]:
def calculate_expected_val(x ,y ,row_total, x_total, y_total, sum_total):
    exp_x=[]
    exp_y=[]
    for i in range(0,len(x)):
        exp_x.append(row_total[i]*x_total/sum_total)
        exp_y.append(row_total[i]*y_total/sum_total)
    return exp_x,exp_y

In [90]:
neg_col_sum = df_prep_chi_table['-1'].sum()
pos_col_sum = df_prep_chi_table['+1'].sum()
e_neg,e_pos = calculate_expected_val(array_neg_sentiment, array_pos_sentiment, array_row_sum,neg_col_sum ,pos_col_sum, total_sum)

In [91]:
df_exp = pd.DataFrame()

In [92]:
df_exp['+1'] = e_pos
df_exp['-1'] = e_neg
df_chi_value = pd.DataFrame()

In [93]:
df_chi_value['-1'] = ((df_prep_chi_table['-1']- df_exp['-1'])**2)/df_exp['-1']

In [94]:
df_chi_value['+1'] = ((df_prep_chi_table['+1']- df_exp['+1'])**2)/df_exp['+1']

In [95]:
df_chi_value

             -1        +1
0      0.014866  0.016728
1      0.082679  0.093029
2      0.367502  0.413511
3      0.034148  0.038423
4      0.014621  0.016452
...         ...       ...
17904  2.670737  3.005096
17905  0.428477  0.482120
17906  0.616487  0.693667
17907  0.029520  0.033216
17908  0.142626  0.160482

[17909 rows x 2 columns]

In [96]:
max_chi_val = []
for row in df_chi_value.itertuples():
    max_chi_val.append(max(row[1],row[2]))

In [97]:
df_chi_value['max_chi'] = max_chi_val
df_chi_value

             -1        +1   max_chi
0      0.014866  0.016728  0.016728
1      0.082679  0.093029  0.093029
2      0.367502  0.413511  0.413511
3      0.034148  0.038423  0.038423
4      0.014621  0.016452  0.016452
...         ...       ...       ...
17904  2.670737  3.005096  3.005096
17905  0.428477  0.482120  0.482120
17906  0.616487  0.693667  0.693667
17907  0.029520  0.033216  0.033216
17908  0.142626  0.160482  0.160482

[17909 rows x 3 columns]

In [98]:
selected_feature_array.shape

(17280, 17909)

In [99]:
ts = np.array(train_sentiment)
ts

array([-1,  1, -1, ...,  1, -1,  1])

In [100]:
pos_weight = np.array(df_chi_value['+1'])
neg_weight = np.array(df_chi_value['-1'])
mx_weight = np.array(df_chi_value['max_chi'])

def weighted_feature(selected_feature_array, sentiment):
    weighted_feat_array = []
    ts = np.array(sentiment)
    for i in range(0, len(sentiment)):        
        if ts[i] == 1:
            weighted_feat_array.append(np.multiply(selected_feature_array[i],pos_weight))
        else:
            weighted_feat_array.append(np.multiply(selected_feature_array[i],neg_weight))
    return weighted_feat_array

In [101]:
weighted_feature_train = weighted_feature(selected_feature_array, train_sentiment)

In [102]:
def weighted_feature_k(selected_feature_array, sentiment):
    weighted_feat_array = []
    ts = np.array(sentiment)
    for i in range(0, len(sentiment)):        
        if ts[i] == 1:
            weighted_feat_array.append(np.multiply(selected_feature_array[i],mx_weight))
        else:
            weighted_feat_array.append(np.multiply(selected_feature_array[i],mx_weight))
    return weighted_feat_array

In [103]:
weighted_feature_test = weighted_feature_k(selected_test_features, test_sentiment)

In [104]:
weighted_feature_train[0].shape

(17909,)

In [106]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
track_precision=[]
# for i in range(5,21):
#     print(i)
classifer = KNeighborsClassifier(n_neighbors=14,n_jobs=3,weights='distance')
classifer.fit(weighted_feature_train, train_sentiment)
sentiments_predict = classifer.predict(weighted_feature_test)
score = metrics.accuracy_score(test_sentiment,sentiments_predict)
print(score)
track_precision.append(score)

0.8125

In [107]:
# import csv
# outfile = open('results.csv','w')
# out = csv.writer(outfile)
# out.writerows(map(lambda x: [x], score_predict))
# outfile.close()

In [108]:
result_test_df = pd.read_csv('1661892619_9579706_test_file.csv', names=['reviews'])

In [109]:
basic_cleaning(result_test_df)

In [110]:
tokenize_data(result_test_df)

In [111]:
result_test_df['stop_words_cleaned'] = result_test_df.words.apply(lambda word_list: remove_stopwords(word_list))

In [112]:
result_test_df['lemma_word'] = result_test_df.stop_words_cleaned.apply(lambda word_list: find_lemma_word(word_list))

In [113]:
result_test_df['cleaned_review'] = result_test_df.lemma_word.apply(lambda review_list: " ".join(review_list))

In [114]:
result_test_feature = count_vectorizer_top_features.transform(result_test_df['cleaned_review'])
result_test_df.head()

,reviews,words,stop_words_cleaned,lemma_word,cleaned_review
0,got takeout from here last night and it was ho...,"[got, takeout, from, here, last, night, and, i...","[got, takeout, last, night, horrible, somethin...","[get, takeout, last, night, horrible, somethin...",get takeout last night horrible something must...
1,girls are sweet and prices are reasonable the ...,"[girls, are, sweet, and, prices, are, reasonab...","[girls, sweet, prices, reasonable, stand, bed,...","[girl, sweet, price, reasonable, stand, bed, h...",girl sweet price reasonable stand bed hot make...
2,rudest people i have eveencountered husband a...,"[rudest, people, i, have, eveencountered, husb...","[rudest, people, eveencountered, husband, wife...","[rudest, people, eveencountered, husband, wife...",rudest people eveencountered husband wife own ...
3,this airport is only coveted fothe destination...,"[this, airport, is, only, coveted, fothe, dest...","[airport, coveted, fothe, destination, leads, ...","[airport, covet, fothe, destination, lead, fli...",airport covet fothe destination lead flier vie...
4,the last months have shown a steady decline i...,"[the, last, months, have, shown, a, steady, de...","[last, months, shown, steady, decline, pisspoo...","[last, month, show, steady, decline, pisspoose...",last month show steady decline pisspooservice ...

In [115]:
result_feature_array = result_test_feature.toarray()
result_feature_array.shape

(18000, 17909)

In [116]:
def weighted_feature_agg(selected_feature_array):
    weighted_feat_array = []
    for i in range(0, len(selected_feature_array)):        
            weighted_feat_array.append(np.multiply(selected_feature_array[i],mx_weight))        
    return weighted_feat_array

In [117]:
result_feature_weighted = weighted_feature_agg(result_feature_array)

In [118]:
prediction = classifer.predict(result_feature_weighted)

In [119]:
prediction.shape

(18000,)

In [120]:
import csv
outfile = open('results.csv','w')
out = csv.writer(outfile)
out.writerows(map(lambda x: [x], prediction))
outfile.close()